@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


a{
    list-style-type: none;
}
body{
    margin: 0;
    padding: 0;

}

.top-header{
    position: relative;
    background-color: #333;
    overflow: hidden;
}

.top-header a{
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
 
}

h2 #logo{

}

.center-menu{

}

.right-buttons{

}


